.tour-section {
  width: 100%;
  height: 60vh;   /* you can change this */
  max-height: 900px;
  background: #000;
  margin-top: 16px;
}

#pano {
  width: 100%;
  height: 100%;
  background: #000;
}
